@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

}

/* Navbar */
.logo {
  width: 16.25em;
}

nav{
  z-index: 2;
}

/* nav links */
nav a.nav-link {
  font-size: 16px;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 0.1875em solid var(--primary-dark) ;
}

.navbar-brand {
  max-width: 17.25em;
  padding: 0 !important;
  height: 6em !important;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 7em;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-orange);
}

/* header */

.header-wrapper {
  position: relative;
  background: url(dev-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-decoration: uppercase;
}

/* typed text */
.typed-text{
  font-size: 2em;
  color: var(--primary-white);
}


@media(max-width: 768px){
  .main-info h1 {
    font-size: 1.7em !important;
  }
  .typed-text {
    font-size: 1.3em !important;
  }
}

/* header main button */
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin: 2em;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-position: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}


